body{
    background-color: #02091A;
}
.main{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    color: #FFFFFF;
    padding-top: 50px;

}
.logo{
    padding: 15px;
    width: 118px;
    margin-left: 87px;
    margin-top: 37px;
    height: auto;
}

p{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 300;
}
h3{
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    
}
span{
    color: #E06AFF;
    flex-direction: row;
    font-weight: 400;
}
.text{
    text-align: center;
}

.quadradinhos{
    display: flex;
    justify-content: center;
    gap: 87px;
    padding-top: 40px;
    background-color: #02091A;
}

.q1{
    width: 41px;
    height: 43px;
    transition: transform 0.1s linear;
}

.frase-isolada{
    text-align: center;
    padding-top: 20px;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.button-get{
    width: 290px;
    height: 65px;
    font-size: 24px;
    color: #FFFFFF;
    border-width: 2px;
    border-style:double;
    border-radius: 100px;
    border-color: #1C01C9;
    background-color: #02091A;
    cursor: pointer;
}
.button-get:hover{
    background-color: #1C01C9;
}
.button-get a{
    height: auto;
    font-family: Montserrat Alternates;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}
.ponto{
    font-weight: 900;
    color: #E06AFF;
}
.arrow-right {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.button-get:hover .arrow-right {
    transform: translateX(10px);
}

.button-get img {
    width: 30px; 
    height: auto;
}

.mostrar-mais{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.text-more{
    font-family: Montserrat Alternates;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ADADAD;
}

.more{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
.button-more{
    background-color: #02091A;
    border: none;
    padding-top: 35px;
}
.imagem-button-more{
    width: 38.5px;
    height: 22.7px;
    position: relative;
    animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Começa no centro */
    }
    100% {
        transform: translateY(-9px); /* Move para cima */
    }
}

/* <div class="card-normal">
<img src="imagens/calculadora.png" class="calculator-img">
<div class="section-icons">
    <img src="icons/html.png" class="icones-img">
    <img src="icons/css.png" class="icones-img">
    <img src="icons/js.png" class="icones-img">
</div>
<h2 class="Titulos">Calculadora</h2>
<p class="descricao-projetos">Uma projeto base de uma calculadora que eu fiz no tedio</p>
</div> */